{% extends 'base.html.twig' %}

{% block title %}Ajouter{% endblock %}

{% block body %}
    <h1>Ajouter un souhait !</h1>
    <div class="content">
        {{ form_start(wishForm) }}

        <div class="card card-header mb-3 mt-3 big">
            {{ form_label(wishForm.category) }}
            {{ form_widget(wishForm.category) }}
            <div class="text-danger">
                {{ form_errors(wishForm.category) }}
            </div>
        </div>

        <div class="card card-header mb-3 mt-3 big">
            {{ form_label(wishForm.title) }}
            {{ form_widget(wishForm.title) }}
            <div class="text-danger">
                {{ form_errors(wishForm.title) }}
            </div>
        </div>

        <div class="card card-header mb-3  big">
            {{ form_label(wishForm.description) }}
            {{ form_widget(wishForm.description) }}
            <div class="text-danger">
                {{ form_errors(wishForm.description) }}
            </div>
        </div>

        <div class="card card-footer mb-3 big">
            {{ form_label(wishForm.author) }}
            {{ form_widget(wishForm.author) }}
            <div class="text-danger">
                {{ form_errors(wishForm.author) }}
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-success big" type="submit">Ajouter</button>
        </div>

        {{ form_end(wishForm) }}
    </div>
{% endblock %}