{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
    <h1>Details</h1>
    <div class="content">
        <div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ label }}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>{{message}}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="big">
                <p>Le souhait est : <b class="color">{{ wish.title }}</b></p>
            </div>
            <div class="big">
                <p>Description : <b class="color">{{ wish.description }}</b></p>
            </div>
            <div class="big">
                <p>Auteur : <b class="color">{{ wish.author }}</b></p>
            </div>
            <div class="big">
                <p>Validé :
                    {% if wish.isPublished %}
                        <b class="text-success">Oui</b>
                    {% else %}
                        <b class="text-danger">Non</b>
                    {% endif %}
                </p>
            </div>
            <div class="big">
                <p>Date de création : <b class="color">{{ wish.dateCreated|date("d F Y - H:i:s") }}</b></p>
            </div>
            <div class="justify-content-center d-flex">
                <a class="btn btn-danger big" href="{{ path('wish_list')}}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}