<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/img/favicon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    </head>
    <body>
        <header>
            <img id="logo" src="{{ asset('assets/img/logo.png') }}">
            <h2>Bucket List !</h2>
            <nav>
                <ul>
                    <li><a href="{{ path('main_home') }}">Accueil</a></li>
                    <li><a href="{{ path('main_about') }}">A propos</a></li>
                    <li><a href="{{ path('wish_list') }}">Liste</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
           <p>&copy Bucket-List - 2023</p>
        </footer>
        <script src="{{ asset('assets/js/main.js') }}"></script>
    </body>
</html>
